{% extends "recognizer/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'recognizer/upload.css' %}">
{% endblock extrahead%}

{% block content %}
    <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Board Upload</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Upload</button>
            </div>
        </form>
        
        <table class="chess_board">
            <tbody>
                {% for row in unicode_matrix %}
                    <tr class="board_row">
                        {% for val in row %}
                            <td class="board_cell">
                                {{ val }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock content %}